{% extends 'AppCoder/padre.html' %}

{% block titulo %}
Equipos
{% endblock %}

{% block content %}

<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
                <h1>Equipo:</h1>
                <p>Registrate:</p>
                <section class="features-icons">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                
                                {% if formulario_equipo.errors %}
                                   <p style="color: red;"> Por favor llene el formulario correctamente </p>
                                {% endif %}
                
                                <form action="{% url 'equipo-formulario' %}" method='POST'>
                                    
                                    {% csrf_token %}
                                       <!-- <p> Curso: <input type="text" name="curso"> </p>
                                        <p> Camda: <input type="number" name="camada"> </p>
                                        <input type="submit" value="Enviar"> -->
                
                                    <table>
                                        {{ formulario_equipo.as_table }}
                                    </table>
                
                                    <input type="submit" value="Enviar">
                
                                </form>
                            </div>    
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

{% endblock %}